/*home*/
.container{
    overflow-x: hidden;
}

.left-content1{
    padding-left: 5%;
    background-color: #fffffa;
    width: 30%;
    height: 15%;
}

.right-content1 img{
    object-fit: cover;
    width: 70%;
    height: auto;
}

.content2{
    background-color: #D9D9D9;
    width: 100%;
}

h3{
    text-align: center;
}

p{
    display: flex;
    position: relative;
    justify-content: center;
}

.content2 p{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.content3{
    background-image: url(../img/messy-papers.jpg);
    width: 100%;
}
