/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap%22); */

*{
margin: 0;
padding: 0;
font-family: "poppins", sans-serif;
background-color: #799fcc;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 20px;
  margin-top: 5vh;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  /* border-bottom: 1px solid silver; /
  font-family: "poppins-bold", sans-serif;
  color: black;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt {
  position: relative;
  margin: 30px 0;
  width: 100%;
}

input[type="text"] {
  background-color: white;
  width: 70%;
}

input[type="password"] {
  background-color: white;
  width: 70%;
}
.txt .conf {
  margin-right: 4%;
}
.txt .email {
  margin-right: 10%;
}

.regist {
  / margin: -5px 0 20px 5px; */
  margin-top: 3%;
  margin-bottom: 3%;
  color: black;
}

.regist:hover {
  text-decoration: underline;
}

input[type="submit"] {
  margin-left: 23%;
  width: 50%;
  height: 50px;
  background: #d1d1c7;
  border: 4px solid;
  border-color: #d1d1c7;
  font-size: 18px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: black;
  transition: 0.5s;
}