/*navbar*/
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Mono';
    /* overflow-x: hidden; */
}

nav{
    display: flex;
    padding: 1% 0% 1% 3%;
    width: 100%;
    background-color: #fffffa;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
       -moz-box-shadow: 0px 0px 0px 0px #000000;
       box-shadow: 0px 4px 4px 0px #000000;
}

.logo img{
    width: 40%;
}

.navbar-menu{
    padding-top: 1%;
    padding-left: 70%;
    font-size: 18px;
    position: fixed;
    text-align: right;
}

.navbar-menu ul li{
    display: inline-flex;
    padding: 20px 30px;
    position: relative;
}

.navbar-menu ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

/* footer */
.footer{
    display: block;
    background-color: #0B0909;
    width: 100%;
    padding: 3%;
    height: 3%;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow-y: hidden;
}

.footer p{
    color: #ffffff;
    text-align: center;
}
